.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vmax auto;
    width: 80vw;
    max-width: 100%;
  }
.menuCard {
    width: 16vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax 1vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .menuCard > img {
    object-fit: cover;
   max-height: 14vmax;
   min-height: 10vmax;
  }

  .menuCard > p {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.3vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  .menuCard > h5{
    font-size: 1.2vmax;
    font-weight: 400;
    margin: 0 0.5vmax;
    color: grey;
  }
  .dietLogo{
    width: 2vmax;
    height: 2vmax;
    position: relative;
    display: inline;
    right: 0;
  }
  .menuCard > div {
    font-size: 1.2vmax;
    margin: 1vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menuCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  .menuCard:hover {
    box-shadow: 0 0 15px rgba(15, 15, 15, 0.26);
    color: rgb(48, 48, 48);
    transform: translateY(-1vmax);
  }

  
     
  .paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 2vmax;
  }
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 0.8vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
 
  .pageItemActive {
    background-color: tomato;
  }
  .page-itemActive :hover{
    background-color:  rgb(230, 230, 230);;
  }
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 300 1vmax ;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  .pageLinkActive {
    color: rgb(80, 80, 80)
  }
  
  

  
  
  
  
  .filterBox {
    width: 10vmax;
    position: absolute;
    top: 10vmax;
    left: 4vmax;
  }
  /* .MuiTypography-body1{
    position: relative;
    top: 4vmax;
  } */
  .categoryBox {
    padding: 0%;
  }
  
  .category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font: 400 0.8vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
  }
  .category-link:hover {
    color: tomato;
  } 
  .category-link :active{
    background-color: black;
    color: tomato;
  }
  @media screen and (max-width: 600px) {
    .filterBox {
      width: 20vmax;
      position: static;
      margin: auto;
    }
  
    .MuiTypography-body1{
      /* position: relative; */
      top: 7vmax;
    }
    .page-link {
      font: 300 1.7vmax;
      font-family: Tahoma, Geneva, Verdana, sans-serif;
    }
    .category-link {
      font: 400 1.8vmax "Roboto";
    }
  }